/* COLOR PALETTE
Header: purple/#261447
Body Background: Dark Purple/#0D0221
Box borders: Orange/ #FF6C11
body text: Cyan/ #2De2E6 */

body {
    background-color: #0D0221;
    margin:0;
    color: #2DE2E6;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size:large;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
a {
    color: #2DE2E6;
}
h1{
    font-family:"Bitcount Prop Single", system-ui;
    text-align:center;
    font-weight:400;
    
}

h2{
    font-family:"Bitcount Prop Single", system-ui;
    font-weight:300;
    margin-left: 50px;
}

#connectHeading{
    margin-bottom:5px;
}

#connectLinks{
    display:flex;
    margin:10px;
}

#connectLinks > a{
    padding:5px;
    padding-bottom:0;
    margin-right:5px;

    border-color:#B527F2;
    border-width:2;
    border-style:solid;
    width:fit-content;
}

.sectionHeading{
    width:fit-content;
    background-color:#261447;
    color:white;
    border-color:#FF6C11;
    border-width:6px;
    border-style: dotted;
    padding:10px;
    margin-top:50px;


}

.main{
        margin-left:15px;
}

.header{
    background-color: #261447;
    align-items:center;
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

/* Container for individual experiences */
.indExperience{
    display:flex;
    margin-bottom:10px;
    flex-wrap:wrap;
    width:800px;

}

.experienceTitle{
    font-weight:bold;
    font-size:24px;
    padding-right:7px;
    margin-bottom:5px;
}
.experienceDates{
    font-style:italic;
    font-size: 16px;
    padding-top:7px;
}
 .experienceDesc{

    margin-bottom:10px;
 }

.navbar{
    display: flex;
    align-items: center;
    background-color:black;
    justify-content: space-around;
    border-color:#B527F2;
    border-width:2px;
    border-style:solid;

    position:fixed;
    top:0;
    width:76%;
    left:12%;
}
.navbar > div{
    border-color:black;
    border-width:1;
    border-style:solid;
    padding:5px 10px;;
}